<main id="main" class="main">
    <div class="pagetitle">
        <h1>Expedientes</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a >Ruta</a>
                </li>
                <li class="breadcrumb-item">Expedientes</li>
                <li class="breadcrumb-item active">Ruta 2</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card overflow-auto">
                    <div class="card-body">
                        <h5 class="card-title">Subtitulo</h5>

                        <!-- <div *ngIf="mostrar==false" class="row">
                            <div class="col spinner-center">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div> -->

                        <!-- Table with stripped rows -->
                        <table #dataTable id="table-dudas" class="table table-striped table-borderless"></table>
                        <!-- End Table with stripped rows -->
                         <!-- <button *ngIf="mostrar==true" type="button" class="btn btn-primary" (click)="exportarCSV()">Exportar</button> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>